*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#top{
    width: 100%;
    background-color:#0066B3;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    .far{
        padding-left: 30px;
    }
    &_top1{
        display: flex;
        &_p1{
            padding: 0 10px;
        }
        &_p2{
            padding: 0 10px;
        }
    }
    &_top2{
        display: flex;
        &_para1{
            padding-right: 10px;
            border-right: 2px solid #FFFFFF;
        }
        &_para2{
            padding-left: 10px;
        }
    }
}


#nav{
    width: 100%;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #0066B3;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 5;
    &_nav2{
        &_ul{
            display: flex;
            @media only screen and(max-width: 900px){
                flex-direction: column;
              }
            li{
                list-style: none;
                padding-left: 20px;
                padding-top: 20px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}

#image{
    width: 100%;
}

#about{
    width: 100%;
    padding: 20px 80px;
    h1{
        font-size: 50px;
    }
    &_a{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        @media only screen and(max-width: 900px){
            flex-direction: column;
          }
        &_a1{
            padding-right: 30px;
            font-size: 20px;
            button{
                color: #003399;
                border: 2px solid #003399;
                padding: 15px 30px;
                margin-top: 20px;
                background-color: white;
                &:hover{
                    background-color: #003399;
                    color: white;
                }
            }
        }
        &_a2{
            iframe{
                overflow: hidden;
                border: none;
                width: 500px;
                height: 280px;
                @media only screen and(max-width: 650px){
                    width: 400px;
                    padding-top: 30px;
                  }
            }
        }
    }
}

#admin{
    background-color: #ECECEC;
    width: 100%;
    padding: 20px 80px;
    text-align: center;
    h1{
        margin: 0 auto;
        padding-top: 30px;
        
    }
    &_a{
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 50px 0;
        @media only screen and(max-width: 800px){
            font-size: 10px;
          }
        &_a1{
            background-color: #5954EF;
            width: 22.5%;
        }
        &_a2{
            background-color: #00A98D;
            width: 22.5%;
        }
        &_a3{
            background-color: #FEC907;
            width: 22.5%;
        }
        &_a4{
            background-color: #0E2C62;
            width: 22.5%;
        }
    }
}
.f1{
    color: white;
    font-size: 50px;
    padding: 20px 0;
}
.h3{
    margin: 20px 0 ;    
}

#news{
    width: 100%;
    background-color: #0066B3;
    color: white;
    padding-bottom: 30px;
    h1{
        padding: 30px 0;
        text-align: center;
    }
    h2{
        color: goldenrod;
        padding-top: 20px;
    }
    p{
        padding: 20px 0;
    }
    button{
        background-color: #33CC00;
        padding: 10px;
        color: white;
        border-radius: 25px;
        border: none;
    }
    &_n{
        display: flex;
        justify-content: space-between;
        padding: 10px 80px;
        width: 100%;
        @media only screen and(max-width: 1150px){
            flex-direction: column;
          }
        &_n1{
            width: 30%;
           
        }
        &_n2{
            width: 30%;
            
              
        }
        &_n3{
            width: 30%;
            
        }
    }
}

#fran{
    width: 100%;
    padding: 20px 120px;
    background-color: #ECECEC;
    text-align: center;
    h1{
        padding: 80px 0;
    }
    &_f{
        display: flex;
        justify-content: space-between;
        padding: 30px 0;
        @media only screen and(max-width: 700px){
            flex-direction: column;
            border-radius: 30%;
          }
        .round{
            padding: 20px;
            border-radius: 100%;
            background-color: gray;
            &:hover{
                background-color: #0066CC;
            }
        }
        p{
            padding: 30px 0;
            color: gray;
        }
       
    }
}

#test{
    width: 100%;
    background-color: #0D2D62;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    color: white;
    P::before{
        content: '\201C';
        font-size: 50px;
    }
    h1{
        font-size: 100px;
        padding-bottom: -100px;
    }
    h2{
        text-align: right;
    }
    h4{
        text-align: right;
    }
}

#foot1{
    width: 100%;
    padding-top: 40px;
    h2{
        color: #1472B9;
        padding-bottom: 30px;
    }
    &_f{
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        @media only screen and(max-width: 800px){
            flex-direction: column;
          }
            ul{
                li{
                    list-style: none;
                    padding-bottom: 20px;
                    
                }
            }
            i{
                color: #0066B3;
            }
            .ico{
                padding-top: 30px;
                font-size: 30px;
                border-radius: 10px;
            }
        
    }
    &_f2{
        padding-top: 80px;
        display: flex;
        padding-right: 80px;
        padding-left: 80px;
        justify-content: space-between;
        @media only screen and(max-width: 800px){
            flex-direction: column;
            img{
                width: 100px;
            }
          }
    }
    &_f3{
        background-color: #39478B;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 10px 80px;
        @media only screen and(max-width: 800px){
            flex-direction: column;
          }
        p{
            text-align: center;
            padding-right: 40px;
            color: white;
        }
        p:not(:last child){
            border-right: 1px solid white;
        }
    }
    &_f4{
        width: 100%;
        background-color: #0066B3;
        padding: 20px 80px;
        display: flex;
        justify-content: space-between;
        color: white;
    }
}